div {
    display: flex;
    flex-wrap: nowrap;
}

form {
    width: 80%;
    margin-left: 3em;
}   

fieldset {
    display: flex;
    margin-top: 2em;
    flex-wrap: wrap;
    width: 100%;
    border: none;
}


.button1 {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap:4%;
}   
.button2 {
    display: flex;
    width:100%;
    gap: 20px;
}

legend {
    width: 100%;
}
fieldset > h3 {
    width: 100%; 
    outline:red solid
}