
.subs {
    font-weight: bold;
}

section{
    display: flex;
    flex-direction: row;
}
#contenido {
    width: 65%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 30px; 
}
h5 {
    margin-top: 20px;
}

li, h5,p {
    text-align: left;
}
#final {
    margin-left: 55px;
}