:root{
  --verdefuerte:114232
  --verdemedio:87A922
  --amarillo:FCDC2A
  --beige:F7F6BB
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: red solid;
}

body>header{
  background-image:url(/assets/imágenes/fondo.jpg);
  background-size: contain;
}

.subtitulo{
    background-color: black;
    color: white;
    margin: 0.5rem;
    text-align: center;
}

nav{
  display: inline-block;
  width:30hw
}

