:root{
  verdefuerte: #114232;
  verdemedio: #87A922;
  amarillo: #FCDC2A;
  beige:#F7F6BB;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  background-color:#87A922;
  color: #002518;
}

body>header{
  background-image:url(/assets/imágenes/fondo.jpg);
  background-size: contain;
}

main>header{
    background-color:#87A922;
    color: #FCDC2A;
    margin: 0.5rem;
    text-align: center;
}
#logo{
  height: 100px;

}

nav{
  background-color: #FCDC2A;
  display: inline-block;
  width:30hw
}

main{
  background-color: #114232;
  color: #FCDC2A;
}

#foto{
  height: 200px;
}