:root{
  --amarillo: #FCDC2A;
  --verdeazul: #4a856e
  --verdefuerte: #114232;
  --verdemedio: #87A922;
}

*{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}


header{
  height: 20vh;
  width: 100vw;
}
header>img{
  height: 5px;
}
.titulo{
  color:var(--amarillo);
  font-size: 2.5rem;
  text-shadow: #796a16 2px 2px;
}

.subtitulo{ 
    height: 3vw;
    width: 100vw;
    background-color: #4a856e;
    color: var(--amarillo);
    font-size: 2rem;
    text-align: center;
    text-shadow: #796a16 2px 2px;
    border-radius: 5px;
}

main{
  background-color: #114232;
  color: #FCDC2A;
  min-height: 77vw;
  position:relative
}

#logo{
  display: inline-block;
  height: 22vh;
  position:absolute;
  right:10vw;
  top: -4.5vw;
  border: 6px solid var(--amarillo);
}

nav>a{
  background-color: #FCDC2A;
  border-radius: 0.3rem;
  color: #114232;
  display: inline-block;
  height:5vh;
  margin: 1rem;
  min-width: 13vw;
  padding:1vh 1vw;
  text-align: center;
  text-decoration: none;
}
nav>a:hover{
  color: #4a856e;
}
a[href="#"]{
  background-color:var(--verdemedio);
}
nav{
  float: inline-start;
  font-size: 1.2rem;
  margin-top: 6vh;
  max-width: 20vw;
}

#foto{
  height: 30vw;
  margin-top:8vh;
  width: 55vw;
}
#seccion{
  float: left;
  max-width: 80vw;
}
footer{
  background-color: #4a856e;
  color: #FCDC2A;
  padding: 3px;
  text-align: right;
}