:root{
    --amarillo: #FCDC2A;
    --verdeazul: #4a856e;
    --verdefuerte: #114232;
    --verdemedio: #87A922;
    --cremita: #bbc4a3;
}
#container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
table{
    border-collapse: collapse;
    border: 3px solid;
}
td, tr,th {
    border: 4px solid;
    padding: 4px;
}
