*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
}

.titulo{
  ...
}

.fondo{
    ...
}

.logo{
    ...
}

.subtitulo{
    background-color: black;
    color: white;
    align: center;
}

nav{
    width: 20%;
    height: 60%;
}

.seccion{
    width: 80%;
    height:60%
}